In [1]:
# Bibliotecas Usadas
import random
import pandas as pd
import numpy as np

In [2]:
# Número de Coordenadas a serem Produzidas
n = int(input("Número de Coordenadas: "))

Número de Coordenadas: 200

In [3]:
# Gerador de Coordenadas
latitude = []
longitude = []

for i in range(n):
    lat = random.uniform(-90, 90)
    long = random.uniform(-180, 180)
    
    latitude.append(f"{lat:.4f}")
    longitude.append(f"{long:.4f}")

In [4]:
# Salvando em Dataframe
data = {'Latitude': latitude, 'Longitude': longitude}

df = pd.DataFrame(data)
df.index = np.arange(1, len(df)+1)

In [5]:
# Print do Dataframe
df

     Latitude  Longitude
1    -36.4212    27.1109
2     19.5641    87.6743
3     27.4717   -70.8396
4    -21.2051    70.3702
5     33.0804   118.6814
..        ...        ...
196  -20.8381     9.2009
197  -31.4614   150.3651
198    7.7835   151.5145
199  -87.9335   179.9682
200  -61.4072  -101.4089

[200 rows x 2 columns]

In [6]:
# Salvando em arquivo Excel
df.to_excel(r'Planilhas/Coordenadas Geradas.xlsx', index=False)
print('DataFrame foi salvo com sucesso!')

DataFrame foi salvo com sucesso!